*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.box100 {
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    font-family: serif;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 1000;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    opacity: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.0);
}

.carousel-inner {
    display: flex;
    transition: transform 3s ease, opacity 1s ease
}

.carousel-item {
    min-width: 100%;
    transition: transform 2s ease, opacity 1s ease
    
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.carousel-item:not(.active) {
    display: none;
}


/* Media query para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    .box100 {
        padding: 20px;
    }
    .carousel {
        max-width: 400px;
    }
}

/* Media query para pantallas medianas (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .carousel {
        max-width: 800px;
    }
}

/* Media query para pantallas grandes (escritorios) */
@media only screen and (min-width: 1025px) {
    .carousel {
        max-width: 1200px;
    }
}